{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="py-5">
         <style>
            .form-control {
                margin-bottom: 14px;
            }
        </style>
        {% include 'header.html' %}
         <!-- BEGIN: Content -->
    <div class="content">
        
    <div class="flex items-center mt-8">
        <!-- <h2 class="intro-y text-lg font-medium mr-auto">Leads</h2> -->
    </div>
    <!-- BEGIN: Wizard Layout -->
    <div class="intro-y box py-10 sm:py-20 mt-5">
        <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
        color: #1e40af;">Add Student</h2>
        
        <div class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
            <!-- <div class="font-medium text-base">Add / Manage Products</div> -->
            <form action="" method="post">
                {% csrf_token %}
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Reference</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="" name="reference" value="{{ refer }}" readonly>
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-3" class="form-label">Full Name</label>
                        <input id="input-wizard-3" type="text" class="form-control" placeholder="Enter Full Name here" name="full_name">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Street Address</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter Street Address here" name="street_address">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-3" class="form-label">City</label>
                        <input id="input-wizard-3" type="text" class="form-control" placeholder="Enter City here" name="city">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">State</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter State here" name="state">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Zip Code</label>
                        <input id="input-wizard-2" type="number" class="form-control" placeholder="Enter Zip code here" name="zipcode">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Phone</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter Phone Number" name="phone">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Email</label>
                        <input id="input-wizard-2" type="email" class="form-control" placeholder="Enter Email here" name="email">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Guardian Name</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter Guardian mobile" name="guardian_name">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Guardian Mobile</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter Guardian mobile number" name="guardian_mobile">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Date of Birth</label>
                        <input id="input-wizard-2" type="date" class="form-control" placeholder="Enter Guardian mobile" name="date_of_birth">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Preferd Location</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter preferd location" name="preferd_location">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Mode of Travel</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter mode of travel" name="mode_of_travel">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Playing Position</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter playing position" name="preferd_location">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <!-- <label for="input-wizard-2" class="form-label">Mode of Travel</label> -->
                        <!-- <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter mode of travel" name="mode_of_travel"> -->
                    </div>

                    <h2 style="font-size: 20px; font-weight: 500; text-align: center; color: #1e40af;" class="col-span-12 sm:col-span-12 mb-5">School Details</h2>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">School Name</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter school name" name="school_name">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">School Address</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter school address" name="school_address">
                    </div>

                    <div class="intro-y col-span-6 sm:col-span-3">
                        <label for="input-wizard-2" class="form-label">Standard</label>
                        <input id="input-wizard-2" type="number" class="form-control" placeholder="Enter studying Standard" name="standard">
                    </div>
                    <div class="intro-y col-span-6 sm:col-span-3">
                        <label for="input-wizard-2" class="form-label">Division</label>
                        <input id="input-wizard-2" type="text" class="form-control" placeholder="Enter studying division" name="division">
                    </div>

                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <!-- <button class="btn btn-secondary w-24">Add</button> -->
                        <button type="submit" class="btn btn-primary w-24 ml-2">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Wizard Layout -->
    </div>
    </body>
{% endblock content %}