{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="py-5">
         <style>
            .form-control {
                margin-bottom: 14px;
            }
        </style>
        {% include 'header.html' %}
         <!-- BEGIN: Content -->
    <div class="content">
        
            <div class="flex items-center mt-8">
        <!-- <h2 class="intro-y text-lg font-medium mr-auto">Leads</h2> -->
    </div>
    <!-- BEGIN: Wizard Layout -->
    <div class="intro-y box py-10 sm:py-20 mt-5">
        <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
        color: #1e40af;">Edit Cordinator</h2>
        
        <div class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
            <!-- <div class="font-medium text-base">Add / Manage Products</div> -->
            <form action="" method="post">
                {% csrf_token %}
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">First Name</label>
                        <input id="input-wizard-2" type="text" class="form-control" value="{{ coordinator.User.first_name }}" name="first_name">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-3" class="form-label">Last Name</label>
                        <input id="input-wizard-3" type="text" class="form-control" value="{{ coordinator.User.last_name }}" name="last_name">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Center 1</label>
                        <select name="center1" id="" class="form-control">
                            <option value="{{ coordinator.Center1.id }}">{{ coordinator.Center1.Name }}</option>
                            {% for center in centers %}
                                <option value="{{center.id}}">{{ center.Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Center 2</label>
                        <select name="center2" id="" class="form-control">
                            <option value="{{ coordinator.Center2.id }}">{{ coordinator.Center2.Name }}</option>
                            {% for center in centers %}
                                <option value="{{center.id}}">{{ center.Name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-4" class="form-label">Primary Number</label>
                        <input id="input-wizard-4" type="text" class="form-control" value="{{ coordinator.Number1 }}" name="number1">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-4" class="form-label">Secondary Number</label>
                        <input id="input-wizard-4" type="text" class="form-control" value="{{ coordinator.Number2 }}" name="number2">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-4" class="form-label">Email</label>
                        <input id="input-wizard-4" type="email" class="form-control" value="{{ coordinator.User.email }}" name="email">
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-4" class="form-label">Place</label>
                        <input id="input-wizard-4" type="text" class="form-control" value="{{ coordinator.Place }}" name="place">
                    </div>

                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <!-- <button class="btn btn-secondary w-24">Add</button> -->
                        <button class="btn btn-primary w-24 ml-2">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Wizard Layout -->
    </div>
    </body>
{% endblock content %}