{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="py-5">
        {% include 'header.html' %}
      
     <!-- BEGIN: Content -->
    <div class="content">
        <!--profile content Start-->
        <div class="intro-y box px-5 pt-5 mt-5">
            <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
                <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                    <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="http://rubick.left4code.com/dist/images/profile-9.jpg">
                        <div class="absolute mb-1 mr-1 flex items-center justify-center bottom-0 right-0 bg-primary rounded-full p-2">
                            <i class="w-4 h-4 text-white" data-lucide="camera"></i>
                        </div>
                    </div>
                    <div class="ml-5">
                        <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">Christian Bale</div>
                        <div class="text-slate-500">Backend Engineer</div>
                    </div>
                </div>
                <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                    <div class="font-medium text-center lg:text-left lg:mt-3">Contact Details</div>
                    <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                        <div class="truncate sm:whitespace-normal flex items-center">
                            <i data-lucide="mail" class="w-4 h-4 mr-2"></i> christianbale@left4code.com
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            <i data-lucide="instagram" class="w-4 h-4 mr-2"></i> Instagram Christian Bale
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            <i data-lucide="twitter" class="w-4 h-4 mr-2"></i> Twitter Christian Bale
                        </div>
                    </div>
                </div>
                <div class="mt-6 lg:mt-0 flex-1 px-5 border-t lg:border-0 border-slate-200/60 dark:border-darkmode-400 pt-5 lg:pt-0">
                    <div class="font-medium text-center lg:text-left lg:mt-5">Sales Growth</div>
                    <div class="flex items-center justify-center lg:justify-start mt-2">
                        <div class="mr-2 w-20 flex">
                            USP: <span class="ml-3 font-medium text-success">+23%</span>
                        </div>
                        <div class="w-3/4">
                            <div class="h-[55px]">
                                <canvas class="simple-line-chart-1 -mr-5"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-center lg:justify-start">
                        <div class="mr-2 w-20 flex">
                            STP: <span class="ml-3 font-medium text-danger">-2%</span>
                        </div>
                        <div class="w-3/4">
                            <div class="h-[55px]">
                                <canvas class="simple-line-chart-2 -mr-5"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end profile content -->
        <!-- payment section -->
        <div class="intro-y tab-content mt-5">
            <div class="grid grid-cols-12 gap-6">
                <div class="intro-y box col-span-12 lg:col-span-6">
                    <div class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                        <h2 class="font-medium text-base mr-auto">Top Categories</h2>
                        <div class="dropdown ml-auto">
                            <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown">
                                <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i>
                            </a>
                            <div class="dropdown-menu w-40">
                            <ul class="dropdown-content">
                                <li>
                                    <a href="" class="dropdown-item">
                                        <i data-lucide="plus" class="w-4 h-4 mr-2"></i> Add Category
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">
                                        <i data-lucide="settings" class="w-4 h-4 mr-2"></i> Settings
                                    </a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="p-5">
                        <div class="flex flex-col sm:flex-row">
                            <div class="mr-auto">
                                <a href="" class="font-medium">Wordpress Template</a>
                                <div class="text-slate-500 mt-1">HTML, PHP, Mysql</div>
                            </div>
                            <div class="flex">
                                <div class="w-32 -ml-2 sm:ml-0 mt-5 mr-auto sm:mr-5">
                                    <div class="h-[30px]">
                                        <canvas class="simple-line-chart-1" data-random="true"></canvas>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="font-medium">6.5k</div>
                                    <div class="bg-success/20 text-success rounded px-2 mt-1.5">+150</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row mt-5">
                            <div class="mr-auto">
                                <a href="" class="font-medium">Bootstrap HTML Template</a>
                                <div class="text-slate-500 mt-1">HTML, PHP, Mysql</div>
                            </div>
                            <div class="flex">
                                <div class="w-32 -ml-2 sm:ml-0 mt-5 mr-auto sm:mr-5">
                                    <div class="h-[30px]">
                                        <canvas class="simple-line-chart-1" data-random="true"></canvas>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="font-medium">2.5k</div>
                                    <div class="bg-pending/10 text-pending rounded px-2 mt-1.5">+150</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row mt-5">
                            <div class="mr-auto">
                                <a href="" class="font-medium">Tailwind HTML Template</a>
                                <div class="text-slate-500 mt-1">HTML, PHP, Mysql</div>
                            </div>
                            <div class="flex">
                                <div class="w-32 -ml-2 sm:ml-0 mt-5 mr-auto sm:mr-5">
                                    <div class="h-[30px]">
                                        <canvas class="simple-line-chart-1" data-random="true"></canvas>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="font-medium">3.4k</div>
                                    <div class="bg-primary/10 text-primary rounded px-2 mt-1.5">+150</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="intro-y box col-span-12 lg:col-span-6">
                <div class="flex items-center px-5 py-5 sm:py-0 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base mr-auto">Latest Tasks</h2>
                    <div class="dropdown ml-auto sm:hidden">
                        <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown">
                            <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i>
                        </a>
                        <div class="nav nav-tabs dropdown-menu w-40" role="tablist">
                            <ul class="dropdown-content">
                                <li>
                                    <a id="latest-tasks-mobile-new-tab" href="javascript:;" data-tw-toggle="tab" data-tw-target="#latest-tasks-new" class="dropdown-item" role="tab" aria-controls="latest-tasks-new" aria-selected="true">New</a>
                                </li>
                                <li>
                                    <a id="latest-tasks-mobile-last-week-tab" href="javascript:;" data-tw-toggle="tab" data-tw-target="#latest-tasks-last-week" class="dropdown-item" role="tab" aria-selected="false">Last Week</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav nav-link-tabs w-auto ml-auto hidden sm:flex" role="tablist">
                        <li id="latest-tasks-new-tab" class="nav-item" role="presentation">
                            <a href="javascript:;" class="nav-link py-5 active" data-tw-target="#latest-tasks-new" aria-controls="latest-tasks-new" aria-selected="true" role="tab">New</a>
                        </li>
                        <li id="latest-tasks-last-week-tab" class="nav-item" role="presentation">
                            <a href="javascript:;" class="nav-link py-5" data-tw-target="#latest-tasks-last-week" aria-selected="false" role="tab">Last Week</a>
                        </li>
                    </ul>
                </div>
                <div class="p-5">
                    <div class="tab-content">
                        <div id="latest-tasks-new" class="tab-pane active" role="tabpanel" aria-labelledby="latest-tasks-new-tab">
                            <div class="flex items-center">
                                <div class="border-l-2 border-primary dark:border-primary pl-4">
                                    <a href="" class="font-medium">Create New Campaign</a>
                                    <div class="text-slate-500">10:00 AM</div>
                                </div>
                                <div class="form-check form-switch ml-auto">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </div>
                            <div class="flex items-center mt-5">
                                <div class="border-l-2 border-primary dark:border-primary pl-4">
                                    <a href="" class="font-medium">Meeting With Client</a>
                                    <div class="text-slate-500">02:00 PM</div>
                                </div>
                                <div class="form-check form-switch ml-auto">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </div>
                            <div class="flex items-center mt-5">
                                <div class="border-l-2 border-primary dark:border-primary pl-4">
                                    <a href="" class="font-medium">Create New Repository</a>
                                    <div class="text-slate-500">04:00 PM</div>
                                </div>
                                <div class="form-check form-switch ml-auto">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- payment section end -->
        <!-- table start -->
        <div class="intro-y box col-span-12 lg:col-span-6 mt-5">
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
                <table class="table table-report -mt-2">
                    <thead>
                        <tr>
                            <!-- <th class="whitespace-nowrap">
                                <input class="form-check-input" type="checkbox">
                            </th> -->
                            <th class="whitespace-nowrap text-center">SL. NO.</th>
                            <th class="whitespace-nowrap text-center">REFERENCE</th>
                            <th class="whitespace-nowrap text-center">STUDENT NAME</th>
                            <th class="whitespace-nowrap text-center">DATE OF BIRTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="intro-x">
                            <td class="w-60 text-center">
                                <a href="" class=" whitespace-nowrap">1</a>
                            </td>

                            <td class="w-60 text-center">
                                <a href="" class="font-medium whitespace-nowrap">11-12-2023</a>
                            </td>

                            <td class="w-60 text-center">
                                <a href="" class="font-medium whitespace-nowrap">SECTION-006</a>
                            </td>

                            <td class="w-60 text-center">
                                <a href="" class="font-medium whitespace-nowrap">present</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- table end -->
    </div>
    <!-- END: General Report -->
</body>
{% endblock content %}