{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- END: Head -->
    <body class="py-5">
    {% include 'header.html' %}
      
<!-- BEGIN: Content -->
        <div class="content">
            <div class="intro-y flex items-center mt-8">
                <!-- <h2 class="text-lg font-medium mr-auto">
                    Profile Layout
                </h2> -->
            </div>
            <!-- BEGIN: Profile Info -->
            <div class="intro-y box px-5 pt-5 mt-5 text-center">
                <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
                    <div class="flex flex-1 px-5 items-center justify-center text-center">
                        <div class="">
                            <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg" style=" color: #2b53d8;">{{ lead.Student_Name }}</div>
                            <div class="text-slate-500">{{ lead.Location }}</div>
                        </div>
                    </div>
                    <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                        <div class="font-medium text-center lg:mt-3 text-success">Contact Details</div>
                        <div class="flex flex-col justify-center items-center">
                            <div class="truncate sm:whitespace-normal flex items-center mt-2 mb-2">{{ lead.Gardian_Name }}</div>
                            <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ lead.Contact_Number }} </div>
                        </div>
                        <hr class="mt-2 mb-2">
                        <div class="font-medium text-center lg:mt-3 text-warning">Coordinator Details</div>
                        <div class="flex flex-col justify-center items-center">
                            <div class="truncate sm:whitespace-normal flex items-center mt-2 mb-2">{{ lead.Coordinator.User.first_name }}</div>
                            <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ lead.Coordinator.Number1 }} </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Profile Info -->
            <!-- <div class="row md:text-end text-center mt-5">
                <div class="col-12"><button class="btn btn-primary">Add update</button></div>
            </div> -->
             <h2 class="intro-y text-lg font-medium mt-10" style="text-align: center;font-size: 35px;color:#1e40af;padding-bottom: 30px;border-bottom: solid 1px #bcbcbc21;">Updates</h2>
             <!-- BEGIN: Data List -->
            <div class="row text-center mt-5">
                {% if lead.Status == 'pending' %}
                    <div class="col-12">
                        <button class="btn btn-primary" data-tw-toggle="modal" data-tw-target="#update_model">update</button>
                        <!-- <button class="btn btn-primary">schedule</button> -->
                        <button class="btn btn-danger text-white" data-tw-toggle="modal" data-tw-target="#delete-modal">reject</button>
                        <button class="btn btn-success text-white" data-tw-toggle="modal" data-tw-target="#accept-modal">accept</button>
                    </div>
                {% endif %}
            </div>
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
                <div class="intro-y box px-5 pt-5 mt-5">
                    <div class="col-12 lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
                        <div class="post__content tab-content">
                            <div id="content" class="tab-pane p-5 active" role="tabpanel" aria-labelledby="content-tab">
                            {% if updates %}
                                {% for update in updates %}
                                    <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 mb-5">
                                        <div class="font-medium flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5"> {{ update.Date }} </div>
                                        <div class="mt-5">
                                            <div class="editor">
                                                <p>{{ update.Description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 text-center text-danger">
                                    <div class="mt-5">
                                        <div class="editor">
                                            <p>NO UPDATES</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            
                            {% if rejection %}
                                <h2 class="intro-y text-lg font-medium mt-10" style="text-align: center;font-size: 35px;color:#1e40af;padding-bottom: 30px;border-bottom: solid 1px #bcbcbc21;">Reason for rejection</h2>

                                <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 text-center text-danger">
                                    <div class="mt-5">
                                        <div class="editor">
                                            <p>{{rejection.Reason}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- END: Data List -->

        <!-- BEGIN: Dark Mode Switcher-->
        <div data-url="top-menu-dark-regular-form.html" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
            <div class="mr-4 text-slate-600 dark:text-slate-200">Dark Mode</div>
            <div class="dark-mode-switcher__toggle border"></div>
        </div>
        <!-- END: Dark Mode Switcher-->
        <style>
        .dark-mode-switcher{
            display: none;
        }
        .ref{
            text-align: center!important;
        }
        
    </style>
    <!-- BEGIN: New Order Modal -->                             
    <!-- BEGIN: Modal Toggle -->
    <!-- <div class="text-center">
        <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#header-footer-modal-preview" class="btn btn-primary">Show Modal</a>
    </div> -->
    <!-- END: Modal Toggle -->
    <!-- BEGIN: Modal Content -->
    <div id="update_model" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header text-center">
                    <h2 class="font-medium text-base mr-auto text-center">Add Update</h2>
                </div>
                <!-- END: Modal Header -->
                <!-- BEGIN: Modal Body -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                        <div class="col-span-12 sm:col-span-12">
                            <label for="modal-form-1" class="form-label">Details</label>
                            <!-- <input id="modal-form-1" type="text" class="form-control" placeholder="example@gmail.com"> -->
                            <textarea name="update" id="" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                        <button type="submit" class="btn btn-primary w-20">Add</button>
                    </div>
                </form>
                <!-- END: Modal Footer -->
            </div>
        </div>
    </div>
                              
    <!-- BEGIN: Modal Content -->
    <div id="delete-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header text-center">
                    <h2 class="font-medium text-base mr-auto text-center">Enter rejection reason</h2>
                </div>
                <!-- END: Modal Header -->
                <!-- BEGIN: Modal Body -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                        <div class="col-span-12 sm:col-span-12">
                            <label for="modal-form-1" class="form-label">Reason</label>
                            <!-- <input id="modal-form-1" type="text" class="form-control" placeholder="example@gmail.com"> -->
                            <textarea name="reason" id="" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                        <button type="submit" class="btn btn-primary w-20">Add</button>
                    </div>
                </form>
                <!-- END: Modal Footer -->
            </div>
        </div>
    </div>
    <!-- END: Modal Content -->

    <!-- BEGIN: Modal Content -->
    <div id="accept-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="p-5 text-center">
                        <i data-lucide="check-circle" class="w-16 h-16 text-success mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you Sure</div>
                        <div class="text-slate-500 mt-2">You Want to convert this lead to admission</div>
                    </div>
                    <div class="px-5 pb-8 text-center">
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                        <a href="{% url 'accept' lead.id %}"><button type="button" data-tw-dismiss="modal" class="btn btn-success text-white w-24">Yes</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Modal Content -->

    </body>
{% endblock content %}