{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="py-5">
        {% include 'header.html' %}
      
     <!-- BEGIN: Content -->
    <div class="content">
        <!--profile content Start-->
        <div class="intro-y box px-5 pt-5 mt-5">
            <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
                <div class="flex flex-1 px-5 items-center justify-center">
                    <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative pl-5">
                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="http://rubick.left4code.com/dist/images/profile-9.jpg">
                        <!-- <div class="absolute mb-1 mr-1 flex items-center justify-center bottom-0 right-0 bg-primary rounded-full p-2">
                            <i class="w-4 h-4 text-white" data-lucide="camera"></i>
                        </div> -->
                    </div>
                    <div class="ml-5 pl-5">
                        <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{ student.Full_Name }}</div>
                        <div class="text-slate-500">{{ student.Date_Of_Birth }}</div>
                        <!-- <div class="text-slate-500">{{ student.Playing_Position }}</div> -->
                    </div>
                </div>
                <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                    <div class="font-medium text-center lg:text-left lg:mt-3">Contact Details</div>
                    <div class="flex flex-col justify-center items-center lg:items-start mt-1">
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Mobile : {{ student.Phone }}
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Email : {{ student.Email }}
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Gardian Name : {{ student.Guardian_Name }}
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Gardian Number : {{ student.Guardian_Mobile }}
                        </div>
                    </div>
                    <hr class="mt-3 mb-3">
                    <div class="font-medium text-center lg:text-left lg:mt-3">Other Details</div>
                    <div class="flex flex-col justify-center items-center lg:items-start mt-1">
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Address : {{ student.Street_Address }}
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            City : {{ student.City }} | State : {{ student.State }} | Zip_Code : {{ student.Zip_Code }}
                        </div>
                    </div>
                </div>
                <div class="mt-6 lg:mt-0 flex-1 px-5 border-t lg:border-0 border-slate-200/60 dark:border-darkmode-400 pt-5 lg:pt-0">
                    <div class="font-medium text-center lg:text-left lg:mt-5">Center Details</div>
                    <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Center : {{ student.Center.Name }}
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Age_Group : {{ student.Age_Group }}
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Playing Position : {{ student.Playing_Position }}
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            ID_Proof : {{ student.ID_Proof }}
                        </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3">
                            Travel_Mode : {{ student.Travel_Mode }}
                        </div>
                        <hr class="mt-3 mb-3">
                    </div>
                </div>
            </div>
        </div>
        <!-- end profile content -->
        <!-- payment section -->
        <div class="intro-y tab-content mt-5">
            <div class="grid grid-cols-12 gap-6">
                <div class="intro-y box col-span-12 lg:col-span-6">
                    <div class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                        <h2 class="font-medium text-base mr-auto">Payment</h2>
                        <div class="dropdown ml-auto">
                            <button class="btn btn-success text-white" data-tw-toggle="modal" data-tw-target="#payment-modal">Add payment</button>
                        </div>
                    </div>
                    <div class="p-5">
                        <table class="table table-report -mt-2">
                            <thead>
                                <tr>
                                    <th class="whitespace-nowrap text-center">Date</th>
                                    <th class="whitespace-nowrap text-center">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                <tr class="intro-x">
                                    <td class="text-center">
                                        <a href="" class=" whitespace-nowrap">{{ payment.Date }}</a>
                                    </td>
        
                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap">{{ payment.Amount }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="intro-y box col-span-12 lg:col-span-6">
                <div class="flex items-center px-5 py-5 sm:py-0 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base mr-auto mt-5 mb-5">Latest Tasks</h2>
                </div>
                <div class="p-5">
                    <div class="tab-content">
                        <!-- <div id="latest-tasks-new" class="tab-pane active" role="tabpanel" aria-labelledby="latest-tasks-new-tab">
                            {% for a in attandance %}
                            <div class="flex items-center">
                                <div class="border-l-2 border-primary dark:border-primary pl-4">
                                    <a href="" class="font-medium">{{ a.Section }}</a>
                                    <div class="text-slate-500">{{ a.Section.Date }}</div>
                                </div>
                                <div class="form-check form-switch ml-auto mr-10 pr-10">
                                    <div class="text-slate-500">{{ a.Attandance }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div> -->
                        <table class="table table-report -mt-2">
                            <thead>
                                <tr>
                                    <th class="whitespace-nowrap text-center">Date</th>
                                    <th class="whitespace-nowrap text-center">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in attandance %}
                                <tr class="intro-x">
                                    <td class="text-center">
                                        <a href="" class=" whitespace-nowrap">{{ a.Section.Date }}</a>
                                    </td>
        
                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap">{{ a.Attandance }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- payment section end -->
        <!-- table start -->
        <!-- <div class="intro-y box col-span-12 lg:col-span-6 mt-5">
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
                <table class="table table-report -mt-2">
                    <thead>
                        <tr>
                            <th class="whitespace-nowrap text-center">SL. NO.</th>
                            <th class="whitespace-nowrap text-center">REFERENCE</th>
                            <th class="whitespace-nowrap text-center">STUDENT NAME</th>
                            <th class="whitespace-nowrap text-center">DATE OF BIRTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="intro-x">
                            <td class="w-60 text-center">
                                <a href="" class=" whitespace-nowrap">1</a>
                            </td>

                            <td class="w-60 text-center">
                                <a href="" class="font-medium whitespace-nowrap">11-12-2023</a>
                            </td>

                            <td class="w-60 text-center">
                                <a href="" class="font-medium whitespace-nowrap">SECTION-006</a>
                            </td>

                            <td class="w-60 text-center">
                                <a href="" class="font-medium whitespace-nowrap">present</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        <!-- table end -->
    </div>
    <!-- END: General Report -->
    <!-- BEGIN: Modal Content -->
    <div id="payment-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header text-center">
                    <h2 class="font-medium text-base mr-auto text-center">Enter rejection reason</h2>
                </div>
                <!-- END: Modal Header -->
                <!-- BEGIN: Modal Body -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                        <div class="col-span-12 sm:col-span-12">
                            <label for="modal-form-1" class="form-label">Date</label>
                            <input id="modal-form-1" type="date" name="date" class="form-control">
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                            <label for="modal-form-1" class="form-label">Amount</label>
                            <input id="modal-form-1" type="number" name="amount" class="form-control">
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                            <label for="modal-form-1" class="form-label">Description</label>
                            <textarea name="description" id="" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                        <button type="submit" class="btn btn-primary w-20">Add</button>
                    </div>
                </form>
                <!-- END: Modal Footer -->
            </div>
        </div>
    </div>
    <!-- END: Modal Content -->
</body>
{% endblock content %}